*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Poppins', sans-serif;
    font-weight: 400 ;
    color: #fff;
    font-size: 16px;
    user-select: none;
    background: #000000;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    background: #000000;
    background: linear-gradient(135deg, #000000, #4A2800); ;
    width: 100%;
    overflow-x: hidden;
}

.container{
    width: 1400px;
    margin: auto;
}
header{
    padding: 50px 0;
}
header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li.active::after{
    content:'';
    display: block;
    width: 40px;
    height: 5px;
    background: #dc7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #dc7000;
}
header nav ul li.btn a{
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover{
    background: #a02604;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero--info{
    width: 530px;
    padding-top: 50px;
}
.hero--info h2{
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1{
    font-size: 50px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}
.hero--info .btn{
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}
.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero img{
    position: absolute;
    top: -150px;
    right: -100px;

}

/* Секция с играми */
.trending{
    padding-top: 50px;
}
.trending h3{
    font-weight: 600;
    font-size: 31px;  
}
.trending .see-all{
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}
.trending .see-all:hover{
    transform:scale(1.1);
}

.trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.trending .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.trending .games span img{
    position: relative;
    top: 5px;
    margin-right: 7px;

}
.big-text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800;

}
.banner{
    padding: 80px 0;
}
.banner h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;

}
.banner img{
    width: 100%;
    margin-bottom: 30px;
}
/* Секция с изображением */
.features{
    background: url(/images/banner2.png) no-repeat center center fixed;
    background-size:cover;
    padding: 80px 0;
}
.features h3, .features p{
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.features h3{
    font-size: 30px;
}
.features .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block{
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}
.projects{
    padding: 100px 0;
    
}
.projects h3{
    font-size: 30px;
    text-align: center;
}
.projects p{
    margin: 40px 0;
    text-align: center;
}
.projects .images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    
}
.projects .see-all{
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
    
}
.projects .see-all{
    float: none;
    width: 60px;
    text-align: center;
    margin: 50px auto ;
    
}
.projects .see-all:hover{
    transform: scale(1.1);
}

/* Нижняя часть */
.email{
    padding-bottom: 120px;  
}
.email h3{
    margin-top: 60px;
    font-size: 30px;
}
.email .block{
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.email .block h4{
    font-size: 30px;
    font-weight: 500;
}
.email .block p{
    width: 500px;
}
.email .block input{
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family:'Poppins', sans-serif;
    font-weight: 400 ;
    padding: 20px 30px;
    position: relative;
    left: 100px;
    z-index: 1;
    padding-right: 120px;
}
.email .block input::placeholder{
    color: #898989;
}
.email .block button{
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
.email .block button:hover{
    background: #a02604;
}
.email .block button{
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
}
/* Страница Про нас */
.hero-about{
    position: relative;
}
.hero-about .info{
    width: 500px;
    padding: 250px 0;
}
.hero-about .info h1{
    margin-bottom: 15px;
    font-size: 30px;
}
.hero-about .info .btn{
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
    margin-top: 20px;

}
.hero-about .info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero-about img{
    position: absolute;
    right: -40px;
    top: 0;
}
.work{
    padding: 80px 0;
}
.work h2{
    font-size: 20px;
    margin-bottom: 40px;
}
.work .blocks{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.work .blocks .block{
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}
.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0;
}
.work .blocks .block .badge{
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
}
.work .blocks .block .badge.purple{
    background: #560f67;
}
.work .blocks .block .badge.brown{
    background: #31190d;
}
.work .blocks .block .badge.green{
    background: #192a1d;
}
.lorem{
    position: relative;
    background: #1C140F;
    width: 100%;
    
}

.lorem .info{
    width: 600px;
    padding: 170px 0;
    text-align: left;
    margin-left: 1300px;
    margin-right: auto;
    line-height: 1.5;
}
.lorem .info h4{
    font-size: 16px;
    margin-bottom: 20px;
}
.lorem .info h2{
    font-size: 28px;
    margin-bottom: 30px ;
}
.lorem .info p{
    font-size: 16;  
}
.lorem img{
    position: absolute;
    margin-left: 575px;
    bottom: 0;
}

.Our-team{
    padding: 80px 0;
}
.Our-team h2{
    font-size: 20px;
    margin-bottom: 40px;
}
.Our-team .blocks{
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;

}
.Our-team .blocks .block{
    width: 17%;
    border-radius: 10px;
    padding: 50px 50px;
    background: #1C140F;
}

/* Страница контакты */
.hero-contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}
.hero-contacts p{
    text-align: center;
}
.hero-contacts img{
    width: 70%;
    margin: 80px 15%;
}
.feedback{
    background: url(/images/background.png);
    background-size:cover;
    padding: 80px 0;
    /* no-repeat center center fixed */
}
.feedback h2{
    text-align: center;
    font-size: 30px;
    font-size: 500;
}
.feedback p{
    text-align: center;
    margin-top: 10px;
}
.feedback form{
    margin: 80px auto;
    width: 600px;
}
.feedback form .inline{
    display: flex;
    justify-content: space-between;
}
.feedback form .inline > div{
    width: 50%;
}
.feedback form label{
    color: #4F4F4F;
    font-size: 14px;
}
.feedback form textarea,.feedback form input{
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}
.feedback form .one-line{
    width: 96%;
}
.feedback form textarea{
    resize: none ;
    height: 200px;
}
.feedback form button{
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    float: right;
    transition: all 500ms ease;
}
.feedback form button:hover{
    background: #b01414; 
}
/* Футер */
footer{
    background: #000000;
    padding: 50px 0;
}
footer .block{
    display: flex;
    justify-content: space-between;
}
footer .block .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
footer .block p{
    width: 300px;
    margin: 20px 0;
}
footer .block h4{
    font-weight: 500;
    font-size: 17px;
}
footer .block ul{
    list-style: none;

}
footer .block ul li{
    margin-top: 7px;
    opacity: 0.8;
}
footer .block .img{
    margin-top: 75px;
}
footer hr{
    margin: 30PX 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}
footer > p{
    text-align: center;
}
